<% provide(:title, "棚卸編集") %>
<% provide(:btn_text, '更新') %>

<div class="text-center">
  <h1><%= "#{@inventory.department.name} 棚卸編集" %></h1>
</div>

<div class="row justify-content-center">
  <div class="col-5">
    <%= render "form", inventory: @inventory %>
  </div>
</div>