<% provide(:title, "棚卸登録") %>
<% provide(:btn_text, '新規登録') %>

<div class="text-center">
  <h1>棚卸登録</h1>
</div>

<div class="row justify-content-center">
  <div class="col-5">
    <%= render "form", inventory: @inventory %>
  </div>
</div>