<% provide(:title, "Edit User") %>
<% provide(:btn_text, '更新') %>

<div class="text-center">
  <h1>ユーザー情報の更新</h1>
</div>

<div class="row justify-content-center">
  <div class="col-5">
    <%= render "form", user: @user %>
  </div>
</div>
