<% provide(:title, "Users") %>

<div class="text-center">
  <h1>ユーザー一覧</h1>
</div>
<div>
  <ul>
    <% @users.each do |user| %>
      <li class="m-1">
        <%= link_to user.name, user %>
      </li>
    <% end %>
    <%= link_to "ユーザー作成", new_user_path, class: "btn btn-primary m-1" %>
  </ul>
</div>