<% provide(:title, "New User") %>
<% provide(:btn_text, '新規作成') %>

<div class="text-center">
  <h1>ユーザー登録</h1>
</div>

<div class="row justify-content-center">
  <div class="col-5">
    <%= render "form", user: @user %>
  </div>
</div>