<% provide(:title, @user.name) %>

<div class="text-center">
  <h1><%= @user.name %></h1>
  <h1><%= @user.department.name %></h1>

</div>

<ul>
  <li><%= link_to "編集", edit_user_path(@user), class: "btn btn-success m-1" %></li>
  <li><%= link_to "削除", user_path(@user), data: {
                    turbo_method: :delete,
                    turbo_confirm: "本当に削除しますか？"
                  }, class: "btn btn-danger m-1" %></li>
</ul>