<% provide(:title, "部署情報更新") %>
<% provide(:btn_text, '更新') %>

<div class="text-center">
  <h1>部署情報の更新</h1>
</div>

<div class="row justify-content-center">
  <div class="col-5">
    <%= render "form", department: @department %>
  </div>
</div>